@import 'tailwindcss';
@theme {
	--font-sans: 'Inter Variable', sans-serif;
	--font-fancy: 'EB Garamond Variable', serif;

	--color-subtext: #707070;
	--color-box: #f7f7f7;
}

@layer components {
	.title {
		letter-spacing: -1.5px;
	}
}

body {
	position: relative;
	line-height: 28px;
	background-color: #f8f5f2;
}

a {
	@apply border-b-2 border-gray-200 transition-all hover:border-gray-300;
}

hr {
	@apply my-16 border-gray-100;
}

h1,
h2 {
	color: #443627;
	font-family: var(--font-fancy);
}
